{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:jsdoc/recommended", "plugin:import/recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": ["@typescript-eslint"],
  "globals": {
    "process": true
  },
  "ignorePatterns": ["node_modules/", "srcJs/", "Logs/"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["error", "only-multiline"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "jsdoc/require-description": "off",
    "jsdoc/require-param-description": "off",
    "jsdoc/valid-type": "off",
    "jsdoc/no-undefined-types": "off",
    "jsdoc/require-returns-description": "off",
    "jsdoc/no-defaults": "off",
    "jsdoc/check-alignment": "off",
    "import/no-unresolved": "off"
  }
}
