/node_modules
/node_target
/logs
/srcJS
/abyss/dist
/target
/pgdata
.env
/prisma/*
!prisma/schema.prisma
/.vs
tsconfig copy.json
package-lock.json
/abyss/src/*.tests.ts
/abyss/src/*.tests.mts
/abyss/*.tests.*
/abyss/res1.png
/abyss/res.png
all_changes.diff
*.7z
*.zip
