/.github/*
/.vscode/*
/dist/*
/node_modules/*
*/**/node_modules/*
package-lock.json
/.git/*
/oldCode/*
*.min.js
*.test.js
*.spec.js
*.test.ts
*.spec.ts
*.min.ts
/coverage/*
*.log
*.json
/packages/*.json
/apps/*.json
/infrastructure/*
/tools/cli-scripts/*